RewriteEngine on

# This sets the index of the page
DirectoryIndex views/courses/course_category.php


# Restrict User from accessing other files they shouldn't
RewriteRule includes - [F,L]
RewriteRule helpers - [F,L]
RewriteRule controllers - [F,L]
RewriteRule models - [F,L]
RewriteRule scraps - [F,L]



# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ $1 [L,R=301]


# ----- Users ------
RewriteRule ^sign-up$ views/users/sign-up.php [L]
RewriteRule ^sign-out$ views/users/sign-out.php [L]
RewriteRule ^sign-in$ views/users/sign-in.php [L]
RewriteRule ^sign-out.php$ sign-out [L]
RewriteRule ^show-users$ views/admin/show_users.php [L]


# ----- Courses ------

# RewriteCond %{QUERY_STRING} ^id=([0-9]+)$
RewriteRule ^course-register$ views/courses/course_register.php [L]
RewriteRule ^course-category$ views/courses/course_category.php [L]
RewriteRule ^courses/([a-zA-Z0-9]+)$ views/courses/course_classes.php?id=$1 [L]
RewriteRule ^course-detail/([a-zA-Z0-9]+)$ views/courses/course_detail.php?id=$1 [L]
RewriteRule ^my-courses$ views/courses/my_courses.php [L]


# ---------- Examples ----------
# ReqriteRule ^receipt.php$ /receipt [R=301]
# RewriteRule ^shirts.php$ /shirts/ [R=301]
# reqriteRule ^shirts/$ /shirts/shirts.php [L]
# RewriteRule ^shirts/([0-9]+)/s /shirt/shirt.php?id=$1;

# [R=301] - Redirect the user to that page
# [L] - Tells apache not to process any more rules
# [NC] - Tell apache that the the regex is case sensitive
# [N] - Continue Processing Rules

# <Files "loginreport.php">
# Order Allow,Deny
# Deny from all
# </Files>

