 .banner-title-wrapper {
 	p { display: none; }
 }

 .course_into_title {
 	text-align: center;
 	display: block;
 }

	.course_info--wrap {

	@include clearfix;
	@include smallPadding;

	border: 1px solid black;
	box-sizing: border-box;

	text-align: center;

	.course_info--item {
		display: block;
		padding: 20px;
		border-bottom: 1px solid black;
		box-sizing: border-box;
		max-height: 190px;
		overflow: hidden;
	}


	.course_info--item__notes {
		@extend .course_info--item;
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: inherit;
	}

}




/* Media Queries 
===================== */


/* ------------------------ Medium Screen Size ------------------- */
@include mquery("medium") {

	.banner-title-wrapper {

		p {
			display: inline;
	 		width: 650px;
		 	display: block;
		    margin: 0px auto;
		    text-align: justify;
		}
	 	
	}

	.course_info--wrap {

		@include clearfix;

		text-align: center;

		.course_info--item {
			display: inline-block;
			border: 1px solid black;
			box-sizing: border-box;
			float: left;
			height: 155px;
			width: 33.33333%;
		}


		.course_info--item__notes {
			display: block;
			width: 100%;
		}

	}
	
}

@include mquery("large") {

	
}

@include mquery("xlarge") {
	
}