


.course-container {
	@include clearfix;
}

.course-container--box {

	@include mdlBoxShadow;
	@include transition(transform 0.3s ease);

	background-repeat: no-repeat;
	background-size: cover;
   
	box-sizing: border-box;

	position: relative;
	display: block;

	text-decoration: none;
	height: 270px;
	max-height: 270px;
	min-height: 270px;
	background-color: white;

	margin-bottom: 15px;

	&:hover {
		@include transition(transform 0.2s ease);
		@include transform(scale(1.02));
	}


	.course-container--box-header {
		@include smallPadding;
		@include sectionHeader;
		background-color: $lightblue;
		color: white;

	}

	.course-container--box-body {
		@include smallPadding;
	}

	.course-container--box-footer {
		
	}


}

/* Media Queries 
===================== */


/* ------------------------ Medium Screen Size ------------------- */
@include mquery("medium") {

	.course-container--box {
		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 47.91%;
		vertical-align: top;
	}
	
}

@include mquery("large") {


	.course-container--box {
		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 31.76%;

		&:first-child {
			width: 65%;
		}

	}


	
}

@include mquery("xlarge") {

	.course-container--box {
		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 31.76%;

		&:first-child {
			width: 65%;
		}
	}
	
}
