 .banner-title-wrapper {
 	p { display: none; }
 }

 .course_info_title {
 	text-align: center;
 	display: block;
 	color: #757575;

 	img {
 		margin-bottom: 19.20px;
 	}
 }

	.course_info--wrap {

	@include clearfix;
	@include smallPadding;
	@include mdlBoxShadow;

	color: #757575;
	background-color: white;
	box-sizing: border-box;
	border-radius: 2px;

	text-align: center;

	.course_info--item {
		display: block;
		padding: 20px;
		border-bottom: 1px solid black;
		box-sizing: border-box;
		max-height: 190px;
		overflow: hidden;

		
	}




	.course_info--item__notes {
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: inherit;
		box-sizing: border-box;
		border-radius: 2px;
	}

}


.course_schedule--wrap {
	@include smallPadding;
	@include mdlBoxShadow;
	box-sizing: border-box;
	color: #757575;
	margin-bottom: 1.50em;
	text-align: center;
	background-color: white;
	height: 385px;

	.course_info_title {
		text-align: center;
	}
}

.schedule_signup_button {
	display: block;
	margin: 10px auto;
    background-color: #4778CD;
    border: 0px solid black;
    padding: 5px;
    color: white;
    font-size: 0.8rem;
    border-radius: 5px;
}

.course_schedule--table {
	width:100%;
	text-align: center;
}


/* Presented claendar styles */

.course_schedule--calendar {
	background-color: white;

	&::after {
		content: "";
		display: table;
		clear: both;
	}
	td {
		padding: 15px;
	}

	display: none;
}

.course_schedule--data-row {
}

.course_schedule--show-calendar {
    display: block;
    margin: 10px auto;
    background-color: #43C3AE;
    border: 0px solid black;
    padding: 5px;
    color: white;
    font-size: 0.8rem;
    border-radius: 5px;
}


.course-detail-schedule__container {
	display: inline-block;
	box-sizing: border-box;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
	float: left;
	



	h3 {
		margin: 0px;
	    background-color: #4778CD;
	    color: white;
	    padding: 10px;
	    font-family: helvetica;
	}

	td {
	    text-align: center;
	    box-sizing: border-box;
	    margin: 0px auto;
	    padding: 5px;
	    -webkit-transition: 0.5s ease;
	    -moz-transition: 0.5s ease;
	    -o-transition: 0.5s ease;
	    transition: 0.5s ease;
	}

	th {
		padding: 5px 0px;
	}
}

.course_schedule--sign-up-form {
	margin-bottom: 0px;
}

.course-detail-schedule {
	font-size: 0.8rem;
    background-color: white;

}

.course-detail-date__selected {
	color: #eaeaea;
	background-color: #4778CD;
}









/* Media Queries 
===================== */


/* ------------------------ Medium Screen Size ------------------- */

@include mquery("medium") {


	.banner-title-wrapper {

		p {
			display: inline;
	 		width: 650px;
		 	display: block;
		    margin: 0px auto;
		    text-align: justify;
		}
	 	
	}

	.course_info--wrap {

		@include clearfix;

		.course_info--title {
			text-align: center;
		}

		.course_info--item {
			display: inline-block;
			box-sizing: border-box;
			float: left;
			text-align: center;
			height: 155px;
			width: 33.33333%;
		}


		.course_info--item__notes {
			display: block;
			width: 100%;
		}

	}


	.course_schedule--wrap {
		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 47.91%;
	}


}


/* ------------------------------- Large Screen Size ------------------------------- */

@include mquery("large") {	}


/* ------------------------------- xLarge Screen Size ------------------------------- */
@include mquery("xlarge") {  }

 .banner-title-wrapper {
 	p { display: none; }
 }

 .course_info_title {
 	text-align: center;
 	display: block;
 	color: #757575;

 	img {
 		margin-bottom: 19.20px;
 	}
 }

	.course_info--wrap {

	@include clearfix;
	@include smallPadding;
	@include mdlBoxShadow;

	color: #757575;
	background-color: white;
	box-sizing: border-box;
	border-radius: 2px;

	text-align: center;

	.course_info--item {
		display: block;
		padding: 20px;
		border-bottom: 1px solid black;
		box-sizing: border-box;
		max-height: 190px;
		overflow: hidden;

		
	}




	.course_info--item__notes {
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: inherit;
		box-sizing: border-box;
		border-radius: 2px;
	}

}


.course_schedule--wrap {
	@include smallPadding;
	@include mdlBoxShadow;
	box-sizing: border-box;
	color: #757575;
	margin-bottom: 1.50em;
	text-align: center;
	background-color: white;
	height: 385px;

	.course_info_title {
		text-align: center;
	}
}

.schedule_signup_button {
	display: block;
	margin: 10px auto;
    background-color: #4778CD;
    border: 0px solid black;
    padding: 5px;
    color: white;
    font-size: 0.8rem;
    border-radius: 5px;
}

.course_schedule--table {
	width:100%;
	text-align: center;
}


/* Presented claendar styles */

.course_schedule--calendar {
	background-color: white;

	&::after {
		content: "";
		display: table;
		clear: both;
	}
	td {
		padding: 15px;
	}

	display: none;
}

.course_schedule--data-row {
}

.course_schedule--show-calendar {
    display: block;
    margin: 10px auto;
    background-color: #43C3AE;
    border: 0px solid black;
    padding: 5px;
    color: white;
    font-size: 0.8rem;
    border-radius: 5px;
}


.course-detail-schedule__container {
	display: inline-block;
	box-sizing: border-box;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
	float: left;
	margin: 0px 20px 0px 0px;



	h3 {
		margin: 0px;
	    background-color: #4778CD;
	    color: white;
	    padding: 10px;
	    font-family: helvetica;
	}

	td {
	    text-align: center;
	    box-sizing: border-box;
	    margin: 0px auto;
	    padding: 5px;
	    -webkit-transition: 0.5s ease;
	    -moz-transition: 0.5s ease;
	    -o-transition: 0.5s ease;
	    transition: 0.5s ease;
	}

	th {
		padding: 5px 0px;
	}
}

.course_schedule--sign-up-form {
	margin-bottom: 0px;
}

.course-detail-schedule {
	font-size: 0.8rem;
    background-color: white;

}

.course-detail-date__selected {
	color: #eaeaea;
	background-color: #4778CD;
}









/* Media Queries 
===================== */


/* ------------------------ Medium Screen Size ------------------- */

@include mquery("medium") {


	.banner-title-wrapper {

		p {
			display: inline;
	 		width: 650px;
		 	display: block;
		    margin: 0px auto;
		    text-align: justify;
		}
	 	
	}

	.course_info--wrap {

		@include clearfix;

		.course_info--title {
			text-align: center;
		}

		.course_info--item {
			display: inline-block;
			box-sizing: border-box;
			float: left;
			text-align: center;
			height: 155px;
			width: 33.33333%;
		}


		.course_info--item__notes {
			display: block;
			width: 100%;
		}

	}


	.course_schedule--wrap {
		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 47.91%;
	}


}


/* ------------------------------- Large Screen Size ------------------------------- */

@include mquery("large") {	}


/* ------------------------------- xLarge Screen Size ------------------------------- */
@include mquery("xlarge") {  }
