/* Remember - MOBILE FIRST STYLES! */


.course-search-container {
	padding: 30px 50px;
	background-color: #d8d8d8;

	h1 {
		text-align: center;
		padding: 0px 0px 25px 0px;
		margin: 0px;
		font-size: $th2;
	}


	/* course search form */
	#course-search-from {
		margin-bottom: 0px;

		input {
			display: block;
		}

		.course_search {
			width: 100%;
			margin:0px auto;
			padding: 10px;
		}

		.course_search_button {
			@include buttonFlatMedium;
			width: 200px;
			margin: 30px auto 0px auto;
			padding: 15px;
			background-color: #3d96cc;
			color: white;
		}
	}



}

.course-container {
	@include clearfix;
}


.course-container--box {

	@include mdlBoxShadow;
	@include transition(transform 0.3s ease);

	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
   
	box-sizing: border-box;

	position: relative;
	display: block;

	text-decoration: none;
	height: 270px;
	max-height: 270px;
	min-height: 270px;
	background-color: white;

	margin-bottom: 15px;

	&:hover {
		@include transition(transform 0.2s ease);
		@include transform(scale(1.02));
	}


	&:active {
		@include transition(transform 0.2s ease);
		@include transform(scale(1.0));
	}


	.course-container--box-header {
		@include smallPadding;
		@include sectionHeader;
		background-color: $lightblue;
		color: white;

	}

	.course-container--box-body {
		@include smallPadding;
	}

	.course-container--box-footer {  }


}



/* Media Queries 
===================== */


@include mquery("medium") {

	.course-search-wrap {
		@include mediumPadding;
		width: 49em;
		margin: 0px auto;
	}

	.course-container--box {
		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 47.91%;
		vertical-align: top;
	}
	
}


@include mquery("large") {

	.course-search-wrap {
		@include mediumPadding;
		width: 60em;
		margin: 0px auto;
		@include clearfix;
	}


	.course-container--box {
		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 31.76%;

		&:first-child {
			width: 65%;
		}

	}
	
}

@include mquery("xlarge") {


	.course-search-wrap {
		@include mediumPadding;
		width: 75em;
		margin: 0px auto;
		@include clearfix;
	}

	.course-container--box {
		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 31.76%;

		&:first-child {
			width: 65%;
		}
	}
	
}
