 .banner-title-wrapper {
 	p { display: none; }
 }

 .course_info_title {
 	text-align: center;
 	display: block;
 	color: #757575;

 	img {
 		margin-bottom: 19.20px;
 	}
 }

	.course_info--wrap {

	@include clearfix;
	@include smallPadding;
	@include mdlBoxShadow;

	color: #757575;
	background-color: white;
	box-sizing: border-box;
	border-radius: 2px;

	text-align: center;

	.course_info--item {
		display: block;
		padding: 20px;
		border-bottom: 1px solid black;
		box-sizing: border-box;
		max-height: 190px;
		overflow: hidden;

		
	}




	.course_info--item__notes {
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: inherit;
		box-sizing: border-box;
		border-radius: 2px;
	}

}


.course_schedule--wrap {
	@include smallPadding;
	@include mdlBoxShadow;
	box-sizing: border-box;
	color: #757575;
	margin-bottom: 1.50em;
	text-align: center;
	background-color: white;
	height: 385px;

	.course_info_title {
		text-align: center;
	}
}

.schedule_signup_button {
	@include thinput;
	display: block;
	margin: 0px auto;
}

.course_schedule--table {
	width:100%;
	text-align: center;
}







/* Media Queries 
===================== */


/* ------------------------ Medium Screen Size ------------------- */

@include mquery("medium") {


	.banner-title-wrapper {

		p {
			display: inline;
	 		width: 650px;
		 	display: block;
		    margin: 0px auto;
		    text-align: justify;
		}
	 	
	}

	.course_info--wrap {

		@include clearfix;

		.course_info--title {
			text-align: center;
		}

		.course_info--item {
			display: inline-block;
			box-sizing: border-box;
			float: left;
			text-align: center;
			height: 155px;
			width: 33.33333%;
		}


		.course_info--item__notes {
			display: block;
			width: 100%;
		}

	}


	.course_schedule--wrap {
		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 47.91%;
	}
	

}


/* ------------------------------- Large Screen Size ------------------------------- */

@include mquery("large") {	}


/* ------------------------------- xLarge Screen Size ------------------------------- */
@include mquery("xlarge") {  }