	.week-wrap { 
					padding: 20px; 
				}

				.week-wrap h3 {
					vertical-align: top;
					margin: 0 20px 0px 0px;
				}

				.week-wrap h3 {
					display: inline;
				}

				.weekday-container {
					display: inline-block;
					width: 50px;
				}

				.weekday-container label {
					display: block;
				}

				.schedule__container {
					margin-top: 40px;
					box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
				}


				.schedule__container table {
					table-layout: fixed;
					width: 100%;
				}

				.schedule__container label {
					display: block;
				}

				.schedule__container th {
					padding: 10px 0px
				}

				.schedule__container .dateBoxes {
					display: block;
				}

				.schedule__title h3 {
					margin: 0px;
					background-color: #0179C2;
					color: white;
					padding: 10px;
					font-family: helvetica;
				}

				.schedule__container {
					max-width: 323px;
				}


				.schedule__container td:nth-child(2n + 1) {
					background-color: #F5F5F5;
				}



				.schedule__container input[type="checkbox"] {
					display: none;
				}

				.schedule__container input[type="checkbox"] + label {
					cursor: pointer;
					text-align: center;
					box-sizing: border-box;
					margin: 0px auto;
					padding: 10px;
					-webkit-transition: 0.5s ease;
					-moz-transition: 0.5s ease;
					-o-transition: 0.5s ease;
					transition: 0.5s ease;
				}


				.schedule__container input[type="checkbox"]:checked + label {
					background-color: #01B5CC;
					color: white;
					-webkit-transition: 0.5s ease;
					-moz-transition: 0.5s ease;
					-o-transition: 0.5s ease;
					transition: 0.5s ease;
				}

				.schedule-date-time-group {}

				.class-schedule-label {
					display: block;
				}

				.week-days-group {
					margin: 20px 0px;
				}


				.week-days-group input[type="checkbox"] {
					display: none;
				}


				/* Week Day Group radio buttons */
				.week-days-group input[type="checkbox"] + label {
					cursor: pointer;
					text-align: center;
					box-sizing: border-box;
					border: 1px solid black;
					-webkit-transition: 0.2s ease;
					-moz-transition: 0.2s ease;
					-o-transition: 0.2s ease;
					transition: 0.2s ease;
					display: inline-block;
					border: 1px solid black;
					padding: 10px 15px;
				}



				.week-days-group input[type="checkbox"]:checked + label {
					background-color: #01B5CC;
					color: white;
					-webkit-transition: 0.2s ease;
					-moz-transition: 0.2s ease;
					-o-transition: 0.2s ease;
					transition: 0.2s ease;
				}
				
				.schedule-form__field:disabled,
				.schedule-form__field:read-only {
					background-color: gray;
				}