.profile-container {

	@include smallPadding;
	background-color: #f1f1f1;
	margin: 0px auto;

}


.profile__sidebar {

	/* display: none; */

	display: block;

	background-color: #fff;
	@include smallPadding;


	.profile__sidebar-item {
		text-decoration: none;
		color: $darkblue;
		display: block;
		@include smallPadding;

		&:hover {
			@include transition(background-color 0.2s ease);
			background-color: $lightgray;
		}
	}
}


.update_user--form {


	.profile__input-group {
		margin: 35px 0px;

		textarea { resize: none }
	}


	.profile__input {

		padding: 10px;
		color: #727570;
		display: block;
		width: 100%;

	}


	.profile__submit-button {
		background-color: $darkblue;
		color: white;
		border: 0px solid black;
		border-radius: 3px;
		padding: 30px;

		

		&:hover {
			background-color: $hoverDarkBlue;
			@include transition(background-color 0.3s ease);
		}
	}


}

.profile__submit {
	margin: 40px 0px 40px 0px;
}


.signup__submit-button {

	@include buttonFlatMedium;
	@include smallPadding;

	display: block;
	width: 100%;
	background-color: #3D96CC;
	color: white;

}


.login__signup-link {

	@include prettyLink;
	text-align: left;
	padding: 10px 0px;

}


.signup__picture-container {

	display: none;

}


.signup__logo-image {

	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #095ba6;
	border: 5px solid white;
	box-sizing: border-box;
	display: block;
	margin: 20px auto;

}



/* Media Queries 
===================== */


@include mquery("medium") {

	.profile-container {
		width: 49em;
		margin: 0px auto;
	}

}


@include mquery("large") { 

}


@include mquery("xlarge") { 

}