

/* ------------------ Left Sidebar ------------------ */

.profile__sidebar-container {
	box-sizing: border-box;
}


.profile__sidebar {

	/* display: none; */
	z-index: 0;
	display: block;
	box-sizing: border-box;
	background-color: #FEFEFE;



	.profile__sidebar-item {
		text-decoration: none;
		text-align: center;
		color: $darkblue;
		display: block;
		@include smallPadding;

		&:hover {
			@include transition(background-color 0.2s ease);
			background-color: $lightgray;
		}
	}
}

.profile__logo {

	padding: 30px 0px;

	.profile__logo-image {
		height: 100px;
		width: 100px;
		border-radius: 50%;
		background-color: #095ba6;
		border: 5px solid white;
		box-sizing: border-box;
		display: block;
		margin: 0px auto;
	}

	a {
		text-decoration: none;
		text-align: center;
		display: block;

		&:hover {
			text-decoration: underline;
		}
	}
	
}



/* ------------------ Main Content ------------------ */

.profile-container {
	position: relative;
}


.profile__form-container {
	@include smallPadding;
	background-color: #f1f1f1;
	margin: 0px auto;
}



.update_user--form,
.profile__password-form {

	.profile__input-group {
		margin: 35px 0px;
		textarea { resize: none }
		label { margin-bottom: 10px; }
	}


	.profile__input {

		padding: 10px;
		margin-top: 5px;
		color: #727570;
		display: block;
		width: 100%;
		

	}


	.profile__submit-button {

		@include buttonFlatMedium;
		@include smallPadding;
		background-color: $darkblue;
		color: white;
		padding: 30px;

		&:hover {
			background-color: $hoverDarkBlue;
			@include transition(background-color 0.3s ease);
		}


	}

}



.profile__password-reset {
	@include buttonFlatLarge;
    background-color: #c3c3c3;
    color: #505050;

	&:hover {
		background-color: #dadada;
		@include transition(background-color 0.2s ease);
	}
}

/* ------------------ Profile Modal ------------------ */

.profile__password-reset-modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;

	background-color: rgba(45,45,45,0.6);

}


.profile__modal-header {

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;

	h2 {
		color: #106fa8;
		font-size: $th4;
		flex-grow: 1;
	}

	.profile__modal-close {
		text-align: right;
    	color: #6c6c6c;
    	padding: 15px;
    	@include transition(color 0.2s ease); 

    	&:hover {
    		cursor: pointer;
    		@include transition(color 0.2s ease); 
    		color: #111;
    	}
	}


}



.profile__password-reset-well {
	box-sizing: border-box;
	padding: 20px;
	background-color: white;
	border-radius: 2px;
	margin: 0px auto;
	width: 100%;

}



/* ------------------ Profile Modal End ------------------ */

.profile__submit {
	margin: 40px 0px 40px 0px;
}


.profile__other-stats {
	color: $bodygray;

	span {
		display: block;
		font-size: 0.8em;
	}
}






/* Media Queries 
================================================================ */



/*	Medium Screen Sizes
--------------------------------------- */

@include mquery("medium") {


	.profile-container {
		width: 100%;
		overflow: hidden;
		@include clearfix;


		/* Testing 
		background-color: gray; */
	}


	.profile__sidebar-container {

		position: relative;
		box-sizing: border-box;
		width: 27%;
		height: 930px;
		float: left;
		display: inline-block;

		padding-bottom: 5000px;
    	margin-bottom: -4995px;
		
		
		/* Testing
		background-color: tomato; */

	}


	.profile__sidebar {
		position: absolute;
		width: 100%;
		right: 0;
		top: 0;
		box-sizing: border-box;
		height: 100%;
		
	}



	.profile__form-container {
		@include smallPadding;
		background-color: transparent;
		display: inline-block;
		width: 63%;
		
		/* testing 
		background-color: $lightblue; */
	}



	.profile__password-reset-well {
		padding: 20px;
		background-color: white;
		margin: 0px auto;
		width: 50%;
		

	}


}





/*	Large Screen sizes
--------------------------------------- */
@include mquery("large") { 

}




/*	Extra Large Screen Sizes
--------------------------------------- */
@include mquery("xlarge") { 

}