/* ---------- Navigation ---------- */

$navHeight: 71px;


.main_nav {

	display: block;
	z-index: 10;
	position: relative;
	text-align: center;
	background-color: $toadgreen;
	box-sizing: border-box;
	@include mdlBoxShadow;
	@include clearfix;
}




/* ---------- Flex container test area ---------- */

.flex-container {
	display: flex;
}

.main_nav--logo {
	display: inline-block;
	padding: 10px 0px;

	img {
		height: 50px;
		vertical-align: middle;
	}
}

.main_nav--nav {
	/*float: right; */
	position: relative;
}

.flex-container {
	display: flex;
	justify-content: space-around;
}

.nav-menu-item-container {
	

}

.main_nav--logo,
.nav-course-search,
.nav-menu-items {
	border-left: 2px solid #028a74;
}

#course-search-form {
    width: 100%;
    position: relative;
    padding: 10px 10px;
    margin: 0px;
}

.course_search {
    /* border-radius: 0px; */
    width: 100%;
    height: 50px;
    /* border: 0px; */
    padding-left: 61px;
    border: 0px solid #049e86;
    background-color: transparent;
    color: white;

	@include placeholder {
		color: white;
	}
}

.course_search_button {

	padding: 8px;
    border-radius: 6px;
    position: absolute;
    top: 18px;
    left: 23px;
	background-color: $lightblue;
	color: white;
	border: 0px solid black;

	i {
		color: white;
	}
}



.main_nav--logo {flex-grow: 1}
.nav-course-search {flex-grow: 5}
.nav-menu-items {flex-grow: 1}


.main_nav--item {

	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	text-decoration: none;


	color: rgb(216, 216, 216);
	padding: 25px 0px;
	font-weight: bold;
	width: 100%;
	/* @include smallPadding; */
	

	&:hover {
		background-color: $hoverToadGreen;

	}

	&:hover>.main_subnav {
		display: inline-block;
	}

}



/* ---------- Flex container test area ---------- */




.main_nav--item__menu-button {
	@extend .main_nav--item;
	width: inherit;

	padding: 17px;
    width: 100%;
}

.main_subnav {
	box-sizing: border-box;
	background-color: $lightblue;
	display: none;
	position: absolute;
	right: -2px;
	top: $navHeight - 2px;
	@include mdlBoxShadow;
	z-index: 10;

	.main_subnav--item {
		box-sizing: border-box;
		display: block;
		width: 140px;
		color: white;
		text-decoration: none;
		@include smallPadding;

		&:hover {
			background-color: $hoverDarkBlue;
		}

	}
}




.main_nav--menu-button {
	position: relative;
	display: block;
	right: 0;
	top: 0;
	margin: 0px auto;
	box-sizing: border-box;
	width: 30px;
	/*padding: 20px 0px 20px 20px;*/


	.menu-button--bar {

		display: block;
		position: relative;
		background-color:$darkblue;
		width: 100%;
		height: 5px;
		margin: 5px 0px;
		box-sizing: border-box;
		@include transition(0.4s ease);

	}

	.menu-button--bar:nth-child(1) {
		@include transform(translate(0px, 0px));
	}

	.menu-button--bar:nth-child(3) {
		@include transform(translate(0px, 0px));
	}

	&:hover {

		@extend .main_nav--menu-button__active;
		cursor: pointer;
		background-color: $clearlightblue;


	}

}

.main_nav--menu-button__active {

	@include transition(0.4s ease);

	.menu-button--bar:nth-child(1) {

		@include transition(0.4s ease);
		@include transform(translate(0px, 10px) rotate(-135deg));
	}

	.menu-button--bar:nth-child(2) {
		
		@include transition(0.4s ease);
		@include transform(scaleX(0));

	}

	.menu-button--bar:nth-child(3) {
		@include transition(0.4s ease);
		@include transform(translate(0px, -10px) rotate(135deg));
	}

/*	& + .navbar-wrap {
		@include transition(0.4s ease);
		@include animation(fadeIn 0.4s ease);
		display: inline-block;
	}*/

}
