section.main__hero-container {
	background-image: url("http://10.9.63.109/reou/assets/img/site_img/house-car-gradient.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}


.main__signup-button {
	background-color: red;
	padding: 50px;
	text-decoration: none;
}


.section-wrap {
	max-width: 1000px;
	margin: 0px auto;
}


.main__header-container {

	max-width: 500px;
	text-align: center;
	margin: 100px auto 0px auto;

	@include roboto;

	h1 {
		text-shadow: 1px 1px gray;
		font-size: $th1;
		padding: 30px 0px;
		margin: 15px 0px;
		padding: 0px;
		color: white;
	 }

	h3 {
		text-shadow: 1px 1px gray;
		font-size: $th3;
		box-sizing: border-box;
		padding: 10px 0px;
		margin: 15px 0px;
		color: #fff;
		font-weight: 400;
	 }

	.main__signup-button {

		display: block;
		background-color: $toadgreen;
		color: #fff;
		box-sizing: border-box;
		padding: 30px;
		margin: 15px 0px;
		border-radius: 5px;
		text-align: center;
		
		@include transition( 0.5s ease );

		&:hover {
			background-color: $darkblue;
		}

	}

}

section.home__subsection {


	padding: 45px 17px;
	font-size: $baseSize;
	text-align: justify;

	@include roboto;

	h2 {
		font-size: $th2;
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		font-size: $tpara;
		@include bodyCopyStyleOne;
	}
}

.home__course-container {
	@include clearfix;
}


.home__course-container--box {

	@include mdlBoxShadow;
	@include transition(transform 0.3s ease);

	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
   
	box-sizing: border-box;

	position: relative;
	display: block;

	text-decoration: none;
	height: 270px;
	max-height: 270px;
	min-height: 270px;
	background-color: white;

	margin-bottom: 15px;

	&:hover {
		@include transition(transform 0.2s ease);
		@include transform(scale(1.02));
	}


	&:active {
		@include transition(transform 0.2s ease);
		@include transform(scale(1.0));
	}


	.home__course-container--box-header {
		@include smallPadding;
		@include sectionHeader;
		text-shadow: 0px 1.2px #000000;
		color: white;

	}

	.home__course-container--box-body {
		@include smallPadding;
	}

	.course-container--box-footer {
		
	}


}


.icon-text-block {

	.icon-text-block__image {
		display: block;
		margin: 0px auto;
	}


	.icon-box-container {
		padding: 20px 0px;
	}

}


@include mquery("medium") {

	.section-wrap {
		@include clearfix;
	}

	.main__header-container {
		text-align: left;
		margin: 100px 0px 0px 0px;


		.main__signup-button {
			width: 200px;
		}


	}


	.icon-text-block {

		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 47.91%;
		vertical-align: top;

		.icon-box-container {
			padding: 20px;
		}


		.icon-text-block__image {
			display: block;
			margin: 0px auto;
		}

		.icon-text-block__para {  }

	}




	.home__course-container--box {
		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 47.91%;
		vertical-align: top;
	}



	section.home__subsection {
		padding: 45px 50px;
		font-size: $baseSize;
	}

}


@include mquery("large") {

		.home__course-container--box {
		display: inline-block;
		float: left;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 31.76%;
		vertical-align: top;
	}


}


@include mquery("xlarge") {

}


