.main__hero-container {
	background-image: url("http://10.9.63.86/reou/assets/img/site_img/house-car-gradient.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}



.main__header-container {

	max-width: 500px;
	text-align: center;
	margin: 100px auto 0px auto;

	h1 {
		text-shadow: 1px 1px gray;
		font-size: 2.5rem;
		padding: 30px 0px;
		margin: 15px 0px;
		padding: 0px;
		color: white;
	 }

	h3 {
		text-shadow: 1px 1px gray;
		box-sizing: border-box;
		padding: 10px 0px;
		margin: 15px 0px;
		color: #fff;
		font-weight: 400;
	 }

	.main__signup-button {

		display: block;
		background-color: $toadgreen;
		color: #fff;
		box-sizing: border-box;
		padding: 30px;
		margin: 15px 0px;
		border-radius: 5px;
		text-align: center;
		
		@include transition( 0.5s ease );

		&:hover {
			background-color: $darkblue;
		}

	}

}



.main__signup-button {
	background-color: red;
	padding: 50px;
	text-decoration: none;
}



@include mquery("medium") {

	.main__header-container {
		text-align: left;
		margin: 100px 0px 0px 0px;


		.main__signup-button {
			width: 200px;
		}
	}

}


@include mquery("large") {

}


@include mquery("xlarge") {

}


