.login-container {

	@include smallPadding;
	background-color: #f1f1f1;
	max-width: 500px;
	margin: 0px auto;
}

.login__form {

	.login__email input,
	.login__password input {

		@include smallPadding;

		display: block;
		width: 100%;
		

	}
}

.login__submit-button {
	@include buttonFlatMedium;
	@include smallPadding;

	display: block;
	width: 100%;
	border-color: red;
}

.login__signup-link {
	@include prettyLink;
	text-align: left;
	padding: 10px 0px;
}

.login__picture-container {
	display: none;
}




/* Media Queries 
===================== */


/* ------------------------ Medium Screen Size ------------------------ */


@include mquery("medium") { 

	.login-container {
		background-color: white;
		height: 100%;
		
	}


}



/* ------------------------ Large Screen Size ------------------------- */

@include mquery("large") {

	/* disply should be flex */
	/* left side  should take up only 500px + padding of the screen. right container should take up the test */

	.login-container {
		@include displayFlex;
		background-color: tomato;
	}

}



/* ------------------------ Extra Large Screen Size ------------------- */

@include mquery("xlarge") { }