.login-container {
	@include largePadding;
	border: 1px solid black;
	background-color: #f1f1f1;
}

.login__form {

	.login__email input,
	.login__password input {
		display: block;
		width: 100%;
		@include smallPadding;

	}
}




/* Media Queries 
===================== */


/* ------------------------ Medium Screen Size ------------------------ */

@include mquery("medium") { }



/* ------------------------ Large Screen Size ------------------------- */

@include mquery("large") { }



/* ------------------------ Extra Large Screen Size ------------------- */

@include mquery("xlarge") { }