.users_search_input {
	width:100%;
	padding: 10px 0px 10px 35px;
	border: 0px solid black;
	background-color: transparent;
}

.users_search_button {
	position: absolute;
	left: 2px;
	top: 11px;
	background: none;
	border: 0px;
	color: #6c6c6c;
}


.show_user_table {
	width: 100%;

	th {
		padding: 15px 0px;
		background-color: transparent;
	}
}

.user_table--row {

	i {
		visibility: hidden;
	}


	&:hover {
		background-color: #E3E3E3;
		cursor: pointer;
	}

	&:hover i {
		visibility: visible;
	}

}


.users_search_container {
	width: 100%;
	position: relative;	
}


.user_table--cell {
	padding: 10px 0px;
	text-align: center;
}

