/*
================ PLEASE READ THIS =============== 
To other web dev that possibly see this. 
I used a CSS preprocessor called SASS to create this file.
At this time of this writing (3/2016) SASS is a handny tool that allowed me to write
CSS rules without losing my mind. So the compiled main.scss page looks like a mess.

If you aren't familliar with SASS please spend at least 10 mins reviewing the content on the site below. The
guys that made this made it as easy as possible to understand.

[ http://sass-lang.com/guide ]

Focus mainly on:

- Variables
- Import
- Mixins
- Partials

=================================================
*/


/*	Import External Libraries
------------------------------------------- */
@import 'normalize';
@import 'vendor/font-awesome/css/font-awesome.css';
/* @import 'animate'; */



/* SASS Variables
------------------------------------------- */


	/* Color Scheme
	-------------------------- */

	/* Blues */
	$darkblue: #106FA8;
	$lightblue: #3D96CC;
	$hoverDarkBlue: #60ADDA;
	$cleardarkblue: rgba(16,111,168, 0.9);
	$clearlightblue: rgba(97,189,244, 0.3);
	$duskblue: #488DB6;
	$clearduskblue: rgba(72,141,182,0.9);

	/* Grays */
	$lightgray: #F1F1F1;
	$bodygray: #6c6c6c;
	
	/* Whites */
	$milk: #FEFEEB;

	/* Greens */
	$toadgreen: #08B599;
	$hoverToadGreen: #2CBDA5;
	$toadgreenclear: rgba(8,181,153,0.9);

	$orange: #F5AC49;
	$action: #F55818;
	$headertext: #002942;



	/* Size and positioning 
	-------------------------------- */
	$oneHalf: 47.91%;
	$oneThird: 31.26%;


	
	
	/* Fonts and typographpy 
	---------------------------- */
	
	/* Base font size */
	$baseSize: 16px;

	/* major third */
	$fontStack: 'Open Sans', sans-serif;
	$tpara: 1rem;
	$th1: 2.441rem;
	$th2: 1.953rem;
	$th3: 1.563rem;
	$th4: 1.25rem;


	/* major second */
	$fontStack: 'Open Sans', sans-serif;
	$tparaSmall: 1rem;
	$th1Small: 1.602rem;
	$th2Small: 1.424rem;
	$th3Small: 1.266rem;
	$th4Small: 1.125rem;


	/* Typography Mixins */

	@mixin bodyCopyStyleOne {
		font-size: 1rem;
		color: #6c6c6c;
		line-height: 1.5
	}

	@mixin roboto {
		font-family: 'Roboto', sans-serif;
	}



/* SASS Mixins
--------------------------------------------- */

	/* Clearfix 
	----------------------- */
	@mixin clearfix {

		&::after {
			content: "";
			display: table;
			clear: both;
		}

	}


	/* Radial Gradient 
	----------------------- */
	@mixin blueGradient {

	background: rgb(210,235,249);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(210,235,249,1) 0%, rgba(254,255,255,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=1 );

	}

	/* Box Shadow 
	----------------------- */
	@mixin mdlBoxShadow {
		box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
	}

	@mixin headingTextShadow {
		text-shadow: 0px 2px rgba(0, 0, 0, 0.14), 0px 1.1px  rgba(0, 0, 0, 0.12), 0px 1.6px rgba(0, 0, 0, 0.2);
	}


	/* Margin Center */
	@mixin marginCenter {
		display: block;
		margin: 0px auto;
	}


	/* Transitions 
	--------------------------- */
	 @mixin transition($options) {

	 	-webkit-transition: $options;
	 	-moz-transition: $options;
	 	-o-transition: $options;
	 	transition: $options;

	 }

	 /* Transform 
	 -------------------------- */

	 @mixin transform($options) {

	 	-webkit-transform: $options ;
	 	-moz-transform: $options ;
	 	-ms-transform: $options ;
	 	-o-transform: $options ;
	 }

	/* Keyframe aniamtions 
	----------------------------------------------------- */
	@mixin keyframes($name) {
		@-webkit-keyframes $name { @content	}
		@-moz-keyframes $name { @content }
		@-o-keyframes $name { @content }
		@keyframes $name { @content }
	}


	/* 

		exmaple @include animation("spin 1s ease forwards")
	*/
	@mixin animation($options) {
		-webkit-animation: $options;
		-moz-aniamtion: $options;
		-o-animation: $options;
		animation: $options;
	}


	/* Animation properties */
	@mixin animationProperty($property, $value) {
		-webkit-animation-#{$property}: $value;
		-moz-aniamtion-#{property}: $value;
		-o-animation-#{property}: $value;
		animation-#{property}: $value

	}


	/* Helper Animations */
	@include keyframes(fadeIn) {
		from { 
				opacity: 0;
				@include transform(scale(0.95, 0.95));
			 }

		to { 
			opacity: 1;
			@include transform(scale(1, 1));
		}
	}




 @-webkit-keyframes spin {
	from { @include transform( rotate(0deg) ); }
	to { @include transform( rotate(360deg) ); }
 }


/* Browser Specific psudo Class */

@mixin placeholder {

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		@content;
	}

	&::-moz-placeholder { /* Firefox 19+ */
	 	@content;
	}

	&:-ms-input-placeholder { /* IE 10+ */
		@content;
	}

	&:-moz-placeholder { /* Firefox 18- */
		@content;
	}

}



/* JavaScript-less menu 

	bigSibling = menu title
	littleSibline = sub menu
*/



	/* Font Sizes - Typography
	---------------------------------- */

	@mixin headerContent {
		/*color: $darkblue;*/
		/*font-size: 3rem;*/
		font-size: $th1;
		margin: 0;
		padding: 30px 0px;

	}

	@mixin textContent {
		line-height: 1.5;
		/*font-size: 1.5rem;*/
		font-size: $tpara;
		/*letter-spacing: 0.1rem;*/
	}

	@mixin sectionHeader {
		display: block;
		font-size: 1.1rem;
		letter-spacing: 0.1rem;
		font-weight: bold;
	}


	/* Links and anchors 
	----------------------------- */

	@mixin prettyLink {
		text-decoration: none;
		color: $lightblue;

		&:hover {
			color: $darkblue;
		};
	}


	/* Button Styles
	--------------------------- */

	@mixin buttonFlatSmall {
		border-radius: 2px;
		border: 0px solid black;
		padding: 5px;
		text-align: center;
	}

	@mixin buttonFlatMedium {
		padding: 7px;
		border: 0px solid black;
		border-radius: 2px;
		text-align: center;

	}

	@mixin buttonFlatLarge {
		border-radius: 2px;
		border: 0px solid black;
		padding: 10px;
		text-align: center;
	}

	@mixin buttonFrameSmall {
		background-color: transparent;
		padding: 2px;
		border-width: 2px;
		border-style: solid;
		border-radius: 2px;
		text-align: center;
	}



	/* Element Sizing
	---------------------------------- */

	@mixin smallPadding {padding: 18px 15px;}
	@mixin mediumPadding {padding: 25px 50px;}
	@mixin largePadding {padding: 40px 80px;}


	/* Helper Mixins 
	----------------------- */

	@mixin imageContentLeft {
			position: relative;
			display: inline;
			top: 0px;
			left: -20px;
			float: left;
	}


	@mixin imageContentRight {
			position: relative;
			display: inline;
			top: 0px;
			right: -20px;
			float: right;
	}


	@mixin fullBackground {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}


	/* input items that are thin and use the same properties */
	@mixin thinput {
		padding: 15px;
		font-size: 1.5rem;
		line-height: 1;
		margin: 0;
		background-color: transparent;
		border: 1px solid $darkblue;
		color: $darkblue;
		box-sizing: border-box;

		.button-image {
			height: 1.5rem;
			width: 2rem;
			margin-left: 5px;
		}

	}


	@mixin tabActive {

		.tab-content {

			display: none;

			&.tab-active {
				display: inline;
			}
		}

	}


	@mixin displayFlex {
		display: -webkit-box;
  		display: -webkit-flex;
  		display: -ms-flexbox;
  		display: flex;
	}


	/* Media Query Mixins
	------------------------ */


	/* Moile Media Queries */
	@mixin mquery($size) {

		@if $size == small {
			@media screen and (min-width: 10em) {
				@content;	
			}
		}

		@else if $size == "medium" {
			@media screen and (min-width: 52em) {
				@content;
			}
		}

		@else if $size == large {
			@media screen and (min-width: 70em) {
				@content;
			}
		}

		@else if $size == xlarge {
			@media screen and (min-width: 88em) {
				@content;
			}
		}

	}




/* Main CSS
---------------------------------------------------------------------------------------------------------------- */

html {
	display: block;
	height: 100%;
}

body {
	background-color: $lightgray;
	min-height: 100%;
}

.wrap {
	position: relative;
	display:block;
	max-width: 500px;
	margin:0px auto;
}

.main-content {
	
	@include smallPadding;
	@include clearfix;
	display: block;

}



.required_hp {
	display: none;
}

.alert {
	color: #e86b52;
	margin: 20px 0px;
}

input.field-invalid {
	border: 1px solid #d03238;
}


/* --------- Form Styles ---------- */


.reou__form-container {
	@include smallPadding;
	background-color: transparent;
	display: inline-block;
	width: 63%;
	
	/* testing 
	background-color: $lightblue; */
}



/* form base styles. Please @extend from this style class */
.reou__form-base { 

	.reou-form__input-group {
		margin: 35px 0px;
		textarea { resize: none }
		label { margin-bottom: 10px; }
	}


	.reou-form__input {
		padding: 10px;
		margin-top: 5px;
		color: #727570;
		display: block;
		border: 0px solid #000;
		width: 100%;
	}



	.load-spinner {
		position: relative;
		-webkit-transform: rotate(20deg);
	}



	.reou-form__submit-button {

		@include buttonFlatMedium;
		@include smallPadding;
		background-color: $darkblue;
		color: white;
		padding: 30px;

		&:hover {
			background-color: $hoverDarkBlue;
			@include transition(background-color 0.3s ease);
		}
	}

}







/* -------------------------- Media Queries -------------------------- */




/* ---------- Medium Screen Size ---------- */
@include mquery("medium") {
	.main-content {
		@include mediumPadding;
		width: 49em;
		margin: 0px auto;
	}



	.content-container {
		width: 100%;
		overflow: hidden;
		@include clearfix;

		
		background-color: red; 
	}

}

/* ---------- Large Screen Size ---------- */
@include mquery("large") {
	.main-content {
		@include mediumPadding;
		width: 60em;
		margin: 0px auto;
		@include clearfix;
	}
}

/* ---------- xLarge Screen Size ---------- */
@include mquery("xlarge") {
	.main-content {
		@include mediumPadding;
		width: 75em;
		margin: 0px auto;
		@include clearfix;
	}
}





/* SASS Partials 
====================================== */


/* ------------------------------------
 Main Pages
--------------------------------------- */


/* home is alias for main.php styles */
@import "home";



/* Layout -- Navigation
------------------------- */
@import "header";




/* ------------------------------------ 
Course Partials
--------------------------------------- */


/* Course Category
-------------------- */
@import "courseCategory";



/* Course Classes
------------------- */
@import "courseClasses";



/* Course Detail
------------------ */
@import "courseDetail";



/* My Courses
--------------- */
@import "myCourses";


/* Course Create */




/* ------------------------------------ 
User Partials
--------------------------------------- */


/* Login Page
--------------- */
@import "loginPage";



/* Signup Page
---------------- */
@import "signupPage";



/* editProfile ( User )
------------------------ */
@import "editProfile";



/* Email or Password Reset Page 
------------------------------- */
@import "resetEmailPass";



/* Create Course Schedule Page 
-------------------------- */
@import "createCourseSchedule";



/* Admin Page 
-------------------------- */
@import "admin";



/* Admin Course List
--------------------------------- */
@import "adminCourses";



/* Admin Show Users Page 
--------------------------------- */
@import "showUsers";



/* Create Course Page
----------------------------------- */
@import "courseCreate";



/* Edit Course Page
----------------------------------- */
@import "courseEdit";