@import 'normalize';
/* @import 'animate'; */

/* SASS Variables
------------------------------------------- */


	/* Color Scheme
	-------------------------- */
	$red: red;
	$darkblue: #106FA8;
	$cleardarkblue: rgba(16,111,168, 0.9);
	$lightblue: #3D96CC;
	$lightgray: #F8F8F8;
	$clearlightblue: rgba(97,189,244, 0.3);
	$duskblue: #488DB6;
	$clearduskblue: rgba(72,141,182,0.9);
	$toadgreen: #08B599;
	$toadgreenclear: rgba(8,181,153,0.9);
	$orange: #F5AC49;
	$action: #F55818;
	$headertext: #002942;
	$fontStack: 'Open Sans', sans-serif;

	/* Font Sizes 
	---------------------------- */



/* SASS Mixins
--------------------------------------------- */

	/* Clearfix 
	----------------------- */
	@mixin clearfix {

		&:after {
			content: "";
			display: table;
			clear: both;
		}

	}


	/* Radial Gradient 
	----------------------- */
	@mixin blueGradient {

	background: rgb(210,235,249);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(210,235,249,1) 0%, rgba(254,255,255,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=1 );

	}


	/* Transitions 
	--------------------------- */
	 @mixin transition($options) {

	 	-webkit-transition: $options;
	 	-moz-transition: $options;
	 	-o-transition: $options;
	 	transition: $options;

	 }

	 /* Transform 
	 -------------------------- */

	 @mixin transform($options) {

	 	-webkit-transform: $options ;
	 	-moz-transform: $options ;
	 	-ms-transform: $options ;
	 	-o-transform: $options ;
	 	transform: $options ;
	 }

	/* Keyframe aniamtions 
	----------------------------------------------------- */
	@mixin keyframes($name) {
		@-webkit-keyframes $name { @content	}
		@-moz-keyframes $name { @content }
		@-o-keyframes $name { @content }
		@keyframes $name { @content }
	}

	@mixin animation($options) {

		-webkit-animation: $options;
		-moz-aniamtion: $options;
		-o-animation: $options;
		animation: $options;
		
	}


	/* Animation properties */
	@mixin animationProperty($property, $value) {
		-webkit-animation-#{$property}: $value;
		-moz-aniamtion-#{property}: $value;
		-o-animation-#{property}: $value;
		animation-#{property}: $value

	}


	/* Helper Animations */
	@include keyframes(fadeIn) {
		from { 
				opacity: 0;
				@include transform(scale(0.95, 0.95));
			 }

		to { 
			opacity: 1;
			@include transform(scale(1, 1));
		}
	}



	/* JavaScript-less menu 

		bigSibling = menu title
		littleSibline = sub menu
	*/



	/* Font Sizes - Typography
	---------------------------------- */

	@mixin headerContent {
		color: $darkblue;
		font-size: 3rem;
		margin: 0;
		padding: 30px 0px;

	}

	@mixin textContent {
		line-height: 1.5;
		font-size: 1.5rem;
		margin: 0;
		padding-bottom: 30px;
		letter-spacing: 0.1rem;
	}

	@mixin sectionHeader {
		display: block;
		width: 150px;
		font-size: 1.5rem;
		letter-spacing: 0.1rem;
		font-weight: bold;
		border-bottom: 4px solid $darkblue;
		padding-bottom: 5px;
	}



	/* Element Sizing
	---------------------------------- */

	@mixin smallPadding {padding: 18px 15px;}
	@mixin mediumPadding {padding: 25px 50px;}
	@mixin largePadding {padding: 40px 80px;}


	/* Helper Mixins 
	----------------------- */

	@mixin imageContentLeft {
			position: relative;
			display: inline;
			top: 0px;
			left: -20px;
			float: left;
	}

	@mixin imageContentRight {
			position: relative;
			display: inline;
			top: 0px;
			right: -20px;
			float: right;
	}

	@mixin fullBackground {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}


	/* input items that are thin and use the same properties */
	@mixin thinput {
		padding: 15px;
		font-size: 1.5rem;
		line-height: 1;
		margin: 0;
		background-color: transparent;
		border: 1px solid $darkblue;
		color: $darkblue;
		box-sizing: border-box;

		.button-image {
			height: 1.5rem;
			width: 2rem;
			margin-left: 5px;
		}

	}

	@mixin tabActive {

		.tab-content {

			display: none;

			&.tab-active {
				display: inline;
			}
		}

	}


	/* Media Query Mixins 
	------------------------ */

	@mixin mquery($size) {

		@if $size == small {
			@media screen and (min-width: 20em) {
				@content;	
			}
		}

		@else if $size == "medium" {
			@media screen and (min-width: 40em) {
				@content;
			}
		}

		@else if $size == large {
			@media screen and (min-width: 60em) {
				@content;
			}
		}

		@else if $size == xlarge {
			@media screen and (min-width: 80em) {
				@content;
			}
		}

	}




/* Main CSS
------------------------------------------- */

body {
	background-color: #f1f1f1;
}

.wrap {
	position: relative;
	display:block;
	max-width: 500px;
	margin:0px auto;
}


/* ---------- Navigation ---------- */


.main_nav {
	display: block;
	position: relative;
	border: 2px solid black;
	text-align: center;

	@include clearfix;
}

.main_user {
	display: block;
	height: 20px;
	text-align: center;
}

.main_nav--logo {
	position: absolute;
	height: 100%;
	width: auto;

	img {
		height: 100%;
	}
}

.main_nav--nav {
	position: absolute;
}

.main_nav--item {

	display: inline-block;
	@include smallPadding;
	

	&:hover {
		
	}

	&:hover+.main_subnav {
		display: inline-block;
	}

}

.main_subnav {
	display: none;
	position: absolute;
	top: 50px;
	border: 1px solid red;


	.main_subnav--item {
		display: block;
		border: 1px solid black;

	}
}


.main_nav--menu-button {

	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	padding: 7px 33px;
	height: 100%;
	box-sizing: border-box;
	/*padding: 20px 0px 20px 20px;*/


	.menu-button--bar {

		display: block;
		position: relative;
		background-color:$darkblue;
		height: 5px;
		margin: 5px 0px;
		@include transition(0.4s ease);

	}

	.menu-button--bar:nth-child(1) {
		@include transform(translate(0px, 0px));
	}

	.menu-button--bar:nth-child(3) {
		@include transform(translate(0px, 0px));
	}

	&:hover {

		@extend .main_nav--menu-button__active;
		cursor: pointer;
		background-color: $clearlightblue;


	}

}

.main_nav--menu-button__active {

	@include transition(0.4s ease);

	.menu-button--bar:nth-child(1) {

		@include transition(0.4s ease);
		@include transform(translate(0px, 10px) rotate(-135deg));
	}

	.menu-button--bar:nth-child(2) {
		
		@include transition(0.4s ease);
		@include transform(scaleX(0));

	}

	.menu-button--bar:nth-child(3) {
		@include transition(0.4s ease);
		@include transform(translate(0px, -10px) rotate(135deg));
	}

/*	& + .navbar-wrap {
		@include transition(0.4s ease);
		@include animation(fadeIn 0.4s ease);
		display: inline-block;
	}*/

}




/* Mobile first approach */










