/*
================ PLEASE READ THIS =============== 
To other web dev that possibly see this. 
I used a CSS preprocessor called SASS to create this file.
At this time of this writing (3/2016) SASS is a handny tool that allowed me to write
CSS rules without losing my mind. So the compiled main.scss page looks like a mess.

If you aren't familliar with SASS please spend at leat 10 mins reviwing the content on this site. The
guys that made this system made it as easy as possible to understand.

[ http://sass-lang.com/guide ]

Focus mainly on:

- Variables
- Import
- Mixins
- Partials

=================================================
*/


@import 'normalize';
/* @import 'animate'; */

/* SASS Variables
------------------------------------------- */


	/* Color Scheme
	-------------------------- */
	$red: red;
	$darkblue: #106FA8;
	$cleardarkblue: rgba(16,111,168, 0.9);
	$lightblue: #3D96CC;
	$lightgray: #F8F8F8;
	$clearlightblue: rgba(97,189,244, 0.3);
	$duskblue: #488DB6;
	$clearduskblue: rgba(72,141,182,0.9);
	$toadgreen: #08B599;
	$toadgreenclear: rgba(8,181,153,0.9);
	$orange: #F5AC49;
	$action: #F55818;
	$headertext: #002942;
	$fontStack: 'Open Sans', sans-serif;

	/* Font Sizes 
	---------------------------- */



/* SASS Mixins
--------------------------------------------- */

	/* Clearfix 
	----------------------- */
	@mixin clearfix {

		&::after {
			content: "";
			display: table;
			clear: both;
		}

	}


	/* Radial Gradient 
	----------------------- */
	@mixin blueGradient {

	background: rgb(210,235,249);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(210,235,249,1) 0%, rgba(254,255,255,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=1 );

	}

	/* Box Shadow 
	----------------------- */
	@mixin mdlBoxShadow {
		box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
	}

	/* Transitions 
	--------------------------- */
	 @mixin transition($options) {

	 	-webkit-transition: $options;
	 	-moz-transition: $options;
	 	-o-transition: $options;
	 	transition: $options;

	 }

	 /* Transform 
	 -------------------------- */

	 @mixin transform($options) {

	 	-webkit-transform: $options ;
	 	-moz-transform: $options ;
	 	-ms-transform: $options ;
	 	-o-transform: $options ;
	 	transform: $options ;
	 }

	/* Keyframe aniamtions 
	----------------------------------------------------- */
	@mixin keyframes($name) {
		@-webkit-keyframes $name { @content	}
		@-moz-keyframes $name { @content }
		@-o-keyframes $name { @content }
		@keyframes $name { @content }
	}

	@mixin animation($options) {

		-webkit-animation: $options;
		-moz-aniamtion: $options;
		-o-animation: $options;
		animation: $options;
		
	}


	/* Animation properties */
	@mixin animationProperty($property, $value) {
		-webkit-animation-#{$property}: $value;
		-moz-aniamtion-#{property}: $value;
		-o-animation-#{property}: $value;
		animation-#{property}: $value

	}


	/* Helper Animations */
	@include keyframes(fadeIn) {
		from { 
				opacity: 0;
				@include transform(scale(0.95, 0.95));
			 }

		to { 
			opacity: 1;
			@include transform(scale(1, 1));
		}
	}



	/* JavaScript-less menu 

		bigSibling = menu title
		littleSibline = sub menu
	*/



	/* Font Sizes - Typography
	---------------------------------- */

	@mixin headerContent {
		color: $darkblue;
		font-size: 3rem;
		margin: 0;
		padding: 30px 0px;

	}

	@mixin textContent {
		line-height: 1.5;
		font-size: 1.5rem;
		letter-spacing: 0.1rem;
	}

	@mixin sectionHeader {
		display: block;
		font-size: 1.1rem;
		letter-spacing: 0.1rem;
		font-weight: bold;
	}



	/* Element Sizing
	---------------------------------- */

	@mixin smallPadding {padding: 18px 15px;}
	@mixin mediumPadding {padding: 25px 50px;}
	@mixin largePadding {padding: 40px 80px;}


	/* Helper Mixins 
	----------------------- */

	@mixin imageContentLeft {
			position: relative;
			display: inline;
			top: 0px;
			left: -20px;
			float: left;
	}

	@mixin imageContentRight {
			position: relative;
			display: inline;
			top: 0px;
			right: -20px;
			float: right;
	}

	@mixin fullBackground {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}


	/* input items that are thin and use the same properties */
	@mixin thinput {
		padding: 15px;
		font-size: 1.5rem;
		line-height: 1;
		margin: 0;
		background-color: transparent;
		border: 1px solid $darkblue;
		color: $darkblue;
		box-sizing: border-box;

		.button-image {
			height: 1.5rem;
			width: 2rem;
			margin-left: 5px;
		}

	}

	@mixin tabActive {

		.tab-content {

			display: none;

			&.tab-active {
				display: inline;
			}
		}

	}


	/* Media Query Mixins
	------------------------ */


	/* Moile Media Queries */
	@mixin mquery($size) {

		@if $size == small {
			@media screen and (min-width: 10em) {
				@content;	
			}
		}

		@else if $size == "medium" {
			@media screen and (min-width: 52em) {
				@content;
			}
		}

		@else if $size == large {
			@media screen and (min-width: 70em) {
				@content;
			}
		}

		@else if $size == xlarge {
			@media screen and (min-width: 88em) {
				@content;
			}
		}

	}




/* Main CSS
---------------------------------------------------------------------------------------------------------------- */

body {
	background-color: #f1f1f1;
}

.wrap {
	position: relative;
	display:block;
	max-width: 500px;
	margin:0px auto;
}

.main-content {
	
	@include smallPadding;
	@include clearfix;
	display: block;

}


/* -------------------------- Media Queries -------------------------- */


/* ---------- Medium Screen Size ---------- */
@include mquery("medium") {
	.main-content {
		@include mediumPadding;
		width: 49em;
		margin: 0px auto;
	}
}

/* ---------- Large Screen Size ---------- */
@include mquery("large") {
	.main-content {
		@include mediumPadding;
		width: 60em;
		margin: 0px auto;
		@include clearfix;
	}
}

/* ---------- xLarge Screen Size ---------- */
@include mquery("xlarge") {
	.main-content {
		@include mediumPadding;
		width: 75em;
		margin: 0px auto;
		@include clearfix;
	}
}


/* ===============================
		Layout -- Navigation
================================== */

@import "header";


/* ===============================
		Course Category
================================== */

@import "courseCategory";


/* ===============================
		Course Classes
================================== */

@import "courseClasses";

/* ===============================
		    Course Detail
================================== */

@import "courseDetail";


/* ===============================
		    My Courses
================================== */

@import "myCourses";